# Python
*.pyc

# Generated docs
doc/_build
doc/version.rst

*.class

# Scan server workspace
example/server/workspace/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
